@inherits System.Web.Mvc.WebViewPage<Generic.ViewModel.Dashboard21>
@using System.Web.Mvc.Html;
@using Generic.Helpers;
@using Telerik.Web.Mvc.UI;

@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = ViewBag.enterpriseName + "Admin";
}
<style type="text/css">
    table.PartnerTypes {
        border-collapse: collapse;
        border: 1px solid black;
    }

    table.TestTable {
        border-collapse: collapse;
        border: 1px solid black;
        float: left;
        margin-right: 10px;
    }

    table td {
        border: 1px solid black;
        font-size: 12px;
    }

    table th {
        border: 1px solid black;
        font-size: 12px;
        text-align: right;
        padding-right: 0;
    }

    table.PartnerTypes td.AlgnRight {
        text-align: right;
        color: darkblue;
        padding-right: 0;
    }

    table.TestTable th {
        border: 1px solid black;
        font-size: 12px;
        text-align: center;
        padding-right: 0;
    }

    table.TestTable td.AlgnRight {
        text-align: right;
        color: darkblue;
        padding-right: 0;
        width: 47px;
        font-weight: bold;
    }

    select#templates {
        height: auto;
        width: 244px;
    }
</style>

@foreach (var item in Model.Groups)
{
    <table id="OuterTable">
        <tr>
            <td style="border-right:0">
                <table class="PartnerTypes">
                    <tr style="background-color: darkblue; color: white;">
                        <th>
                            PARTNER TYPE&nbsp;
                        </th>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    @foreach (var partnerType in item.PartnerTypes.Distinct())
                    {
                        <tr>
                            <td id="@partnerType.Id" class="AlgnRight"><span>&nbsp;&nbsp;@partnerType.Description.Trim()&nbsp;&nbsp;</span></td>
                        </tr>
                    }

                    <tr>
                        <td class="AlgnRight"> &nbsp;</td>
                    </tr>

                    @*<tr>
        <td class="AlgnRight"><span>&nbsp;&nbsp;<strong>Total</strong>&nbsp;&nbsp;</span></td>
    </tr>*@
                </table>
            </td>
            <td style="border-left:0">
                <table class="TestTable">

                    <tr style="background-color:darkblue; color: white;">
                        <th colspan="8" class="groupLabel">
                            @item.Description

                        </th>
                    </tr>

                    <tr>
                        <td class="AlgnRight" title="Sent">S&nbsp;</td>
                        <td class="AlgnRight" title="Processed">P&nbsp;</td>
                        <td class="AlgnRight" title="Bounced">B&nbsp;</td>
                        <td class="AlgnRight" title="Deferred">F&nbsp;</td>
                        <td class="AlgnRight" title="Dropped">X&nbsp;</td>
                        <td class="AlgnRight" title="Delivered">D&nbsp;</td>
                        <td class="AlgnRight" title="Opened">O&nbsp;</td>
                        <td class="AlgnRight" title="Clicked">C&nbsp;</td>
                    </tr>
                    @foreach (var partnerType in item.PartnerTypes.Distinct())
                    {

                        var sent = partnerType.Data.Where(o => o.@event == "sent").FirstOrDefault();
                        int sentTotal = 0;
                        if (sent != null)
                        {
                            sentTotal = sent.total ?? 0;
                        }

                        var processed = partnerType.Data.Where(o => o.@event == "processed").FirstOrDefault();
                        int processedTotal = 0;
                        if (processed != null)
                        {
                            processedTotal = processed.total ?? 0;
                        }

                        var bounced = partnerType.Data.Where(o => o.@event == "bounced").FirstOrDefault();
                        int bouncedTotal = 0;
                        if (bounced != null)
                        {
                            bouncedTotal = bounced.total ?? 0;
                        }

                        var deferred = partnerType.Data.Where(o => o.@event == "deferred").FirstOrDefault();
                        int deferredTotal = 0;
                        if (deferred != null)
                        {
                            deferredTotal = deferred.total ?? 0;
                        }

                        var dropped = partnerType.Data.Where(o => o.@event == "dropped").FirstOrDefault();
                        int droppedTotal = 0;
                        if (dropped != null)
                        {
                            droppedTotal = dropped.total ?? 0;
                        }

                        var delivered = partnerType.Data.Where(o => o.@event == "delivered").FirstOrDefault();
                        int deliveredTotal = 0;
                        if (delivered != null)
                        {
                            deliveredTotal = delivered.total ?? 0;
                        }

                        var opened = partnerType.Data.Where(o => o.@event == "opened").FirstOrDefault();
                        int openedTotal = 0;
                        if (opened != null)
                        {
                            openedTotal = opened.total ?? 0;
                        }

                        var clicked = partnerType.Data.Where(o => o.@event == "clicked").FirstOrDefault();
                        int clickedTotal = 0;
                        if (clicked != null)
                        {
                            clickedTotal = clicked.total ?? 0;
                        }

                        <tr>
                            <td class="AlgnRight"> @sentTotal&nbsp; </td>
                            <td class="AlgnRight"> @processedTotal&nbsp; </td>
                            <td class="AlgnRight"> @bouncedTotal&nbsp; </td>
                            <td class="AlgnRight"> @deferredTotal&nbsp; </td>
                            <td class="AlgnRight"> @droppedTotal&nbsp; </td>
                            <td class="AlgnRight" style="background-color: #E56D38">
                                @deliveredTotal&nbsp;
                            </td>

                            <td class="AlgnRight" style="background-color:#FDEB41">
                                @openedTotal&nbsp;
                            </td>
                            <td class="AlgnRight" style="background-color: #BCD637">
                                @clickedTotal&nbsp;
                            </td>

                        </tr>
                    }

                    <tr>
                        <td class="AlgnRight" title="Sent">S&nbsp;</td>
                        <td class="AlgnRight" title="Processed">P&nbsp;</td>
                        <td class="AlgnRight" title="Bounced">B&nbsp;</td>
                        <td class="AlgnRight" title="Deferred">F&nbsp;</td>
                        <td class="AlgnRight" title="Dropped">X&nbsp;</td>
                        <td class="AlgnRight" title="Delivered">D&nbsp;</td>
                        <td class="AlgnRight" title="Opened">O&nbsp;</td>
                        <td class="AlgnRight" title="Clicked">C&nbsp;</td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>


}

<script>
	$(document).ready(function () {
		@if((bool)ViewBag.IsSystemMaster)
  {
	  <text>
		$(".groupLabel").contextmenu({
			//delegate: ".hasmenu",
			menu: [
				{title: "Edit/Correct"},//, cmd: "copy", uiIcon: "ui-icon-copy"},
				{title: "Remove"}//,
				//{title: "More", children: [
				//	{title: "Sub 1", cmd: "sub1"},
				//	{title: "Sub 2", cmd: "sub1"}
				//]}
			],
			select: function(event, ui) {
				alert("select "  + ui.target.text());
			}
		});
		</text>
	}
        //debugger;
        //$("#TestTable tr:eq(1)").each(function () {
        //    $(this).find("td").css({
        //        "color": "skyblue",
        //        "text-align": "right",
        //    "padding-right": "0",
        //    "width": "25px",
        //    "font-weight": "bold"                });
        //});


        //$("#TestTable tr:gt(1)").each(function () {
        //    $(this).find("td:eq(0)").css({
        //        "color": "black",
        //        "text-align": "right",
        //        "padding-right": "0",
        //        "width": "25px",
        //        "font-weight": "bold"                });
        //});

        //$("#TestTable tr:gt(1)").each(function () {
        //    $(this).find("td:gt(0)").css({
        //        "color": "blue",
        //        "text-align": "right",
        //        "padding-right": "0",
        //        "width": "25px",
        //        "font-weight": "bold"
        //    });
        //});
    });

</script>
