@model List<Generic.pr_getPPTQTeamRacixByPPTQ_Grid_2_Result1>
@{
    Layout = null;
    List<Generic.partnerPartnertypeTouchpointQuestionnaire> partnerPartnertypeTouchpointQuestionnaireByPartner = ViewBag.PartnerPartnertypeTouchpointQuestionnaireByPartner as List<Generic.partnerPartnertypeTouchpointQuestionnaire>;
    List<Generic.pr_getPPTQDocAll_Result> pPTQDocAll = ViewBag.PPTQDocAll as List<Generic.pr_getPPTQDocAll_Result>;
    List<Generic.pr_getPersonPPTQClauseAll_Result1> personPPTQClauseAll = ViewBag.PersonPPTQClauseAll as List<Generic.pr_getPersonPPTQClauseAll_Result1>;

    var personPPTQClauseAllDesc = ViewBag.PersonPPTQClauseAllDesc as List<Generic.pr_getCFDBClauseAllForDisplay_Result>;
}




<div class="col-lg-12">

    <table id="OuterTable">
        <tbody>
            <tr>
                <td style="border-right:0">
                    <table class="PartnerTypes">
                        <tbody>
                            <tr style="background-color: darkblue; color: white;">
                                <th class="groupLabel" style="text-align: center;">
                                    ITEM&nbsp;
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            @foreach (var item in partnerPartnertypeTouchpointQuestionnaireByPartner)
            {
                                <tr>
                                    <td class="AlgnRight">@item.loadGroup</td>

                                </tr>
                          }

                            @foreach (var item in pPTQDocAll)
            {
                                <tr>
                                    <td class="AlgnRight">@item.description</td>

                                </tr>
                        }

                            @foreach (var item in personPPTQClauseAll)
            {
                var cl = personPPTQClauseAllDesc.Where(o => o.id == item.clause).FirstOrDefault();
                if (cl == null)
                {
                    continue;
                }

                string desc = cl.clause;

                                <tr>
                                    <td class="AlgnRight">@desc</td>

                                </tr>
                        }


                            @foreach (var item in Model)
            {
                                <tr>
                                    <td class="AlgnRight">@item.sectionDesc</td>

                                </tr>
                        }
                        </tbody>
                    </table>
                </td>
                <td style="border-left:0">
                    <table class="TestTable">

                        <tbody>
                            <tr style="background-color:darkblue; color: white;">
                                <th colspan="7" class="groupLabel" id="projectNameTitle">
                                    &nbsp;

                                </th>
                            </tr>

                            <tr>
                                <td class="AlgnRight" title="Status">Status&nbsp;</td>
                                <td class="AlgnRight" title="Expected Completion Date" style="width:170px;">Expected Completion Date&nbsp;</td>
                                <td class="AlgnRight" title="Actual Completion Date" style="width:150px;">Actual Completion Date&nbsp;</td>
                                <td class="AlgnRight" title="Delta">Delta&nbsp;</td>
                                <td class="AlgnRight" title="Assigned To" style="width:80px;">Assigned To&nbsp;</td>
                                <td class="AlgnRight" title="Approved By" style="width:80px;">Approved By&nbsp;</td>
                                <td class="AlgnRight" title="Approved By Date" style="width:120px;">Approved By Date&nbsp;</td>
                            </tr>

                            @foreach (var item in partnerPartnertypeTouchpointQuestionnaireByPartner)
            {
                                <tr>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>

                                </tr>
                            }

                            @foreach (var item in pPTQDocAll)
            {
                                <tr>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>

                                </tr>
                            }

                            @foreach (var item in personPPTQClauseAll)
            {
                var cl = personPPTQClauseAllDesc.Where(o => o.id == item.clause).FirstOrDefault();
                if (cl == null)
                {
                    continue;
                }

                string desc = cl.clause;

                                <tr>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                </tr>
                            }


                            @foreach (var item in Model)
            {
                                <tr>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>

                                </tr>
                            }


                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>