@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using Generic.Helpers;
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = ViewBag.enterpriseName + "Admin";
}

<h2>Hello, @ViewBag.enterpriseName, Admin</h2>



