@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@{
    Layout = null;
    ViewBag.Title = ViewBag.Project + "Admin";
}
<head>
    
<title> @ViewBag.Project Admin </title>
    </head>
<h2>Hello, @ViewBag.Project Admin (Login)</h2>

