@using System.Web.Optimization

@inherits System.Web.Mvc.WebViewPage<Generic.enterprise>
@{
    Layout = null;
}

<script>
    var enterpriseId = @ViewBag.EnterpriseId ;
</script>
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/login/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/login/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/login/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/login/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/login/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/login/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/login/css/components/radio-checkbox.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/login/css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title
    ============================================= -->
    <title>Login</title>

</head>

<body class="stretched">
    <!-- Modal Window
    ============================================= -->
    <div class="modal fade" id="needHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Need help?</h4>
                </div>
                <div class="modal-body">

                    <p>	Please call: <br /> 917 818 0225 <br /> or email us at <br /> <a href="mailto:help@intelleges.com"> help@intelleges.com</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="guideTour" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Intelleges Guided Tour</h4>
                </div>
                <div class="modal-body">


                    <p class="lead">Want to know more? Let us guide you. </p>
                    <p class="lead">Your guided tour starts here Observe-Orient-Decide-Act.</p>
                    <button type="button" class="btn btn-primary take-the-tour">take the tour</button>

                    <img src="~/Content/login/images/intelleges/guide-slide.png" alt="guide slide">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap nopadding">

                <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #444;"></div>

                <div class="section nobg full-screen nopadding nomargin">
                    <div class="container vertical-middle divcenter clearfix">

                        <div class="panel panel-default divcenter noradius noborder login">
                            <div class="panel-body" style="padding: 40px;">
                                <form id="login-form" name="login-form"  class="nobottommargin" action="~/Admin/Index" method="post">
                                    <div class="login-logo">
                                        <a href="https://www.intelleges.com"> <img src="~/Content/login/images/intelleges/intelleges-logo.png" alt="logo"></a>
                                    </div>
                                    <div class="col_full">
                                        <label for="login-form-email">Enter your email:</label>
                                        <input type="email" id="login-form-email" name="username" value="" class="form-control not-dark" />
                                    </div>

                                    <div class="col_full">
                                        <label for="login-form-password">Enter your password:</label>
                                        <input type="password" id="login-form-password" name="password" value="" class="form-control not-dark" />
                                    </div>
                                    <div id="loginerrordiv" style="color: red">
                                        @foreach (System.Web.Mvc.ModelState modelState in ViewData.ModelState.Values)
                                        {
                                            foreach (System.Web.Mvc.ModelError error in modelState.Errors)
                                            {
                                                if (error != null)
                                                {

                                                    <span>Your Intelleges ID or password was entered incorrectly.</span>

                                                }

                                            }
                                        }
                                    </div>
                                    <div class="col_full nobottommargin">


                                        <div class="remember-me-container">
                                            <input id="remember-me" class="checkbox-style" name="checkbox-1" type="checkbox" checked>
                                            <label for="remember-me" class="checkbox-style-1-label checkbox-small">Remember me</label>
                                        </div>
                                        <div class="forgot-pw-container">
                                            <a href="#">Forgot Password?</a>
                                        </div>

                                    </div>
                                </form>
                                <div class="submit-container">
                                    <button class="button button-3d nomargin fright" value="login" onclick="$('#login-form').submit();">Log In</button>
                                </div>

                                <a data-toggle="modal" href="#" data-target="#needHelp" class="need-help">Need help?</a><a class="register-here" id="register" href="#">Register Here</a>
                            </div>
                        </div>

                        <div class="row center dark"><small>Copyrights &copy; All Rights Reserved by Intelleges.</small></div>

                    </div>
                </div>

            </div>

        </section><!-- #content end -->

    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="~/Content/login/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/login/js/plugins.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="~/Content/login/js/functions.js"></script>

</body>
</html>