@inherits System.Web.Mvc.WebViewPage < System.Collections.Generic.IEnumerable < Generic.pr_getIndustryFocusDetailAll_Result >>

@using System.Web.Mvc.Html
@using Generic.Helpers;
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = ViewBag.enterpriseName + "Admin";
}
<h3></h3>
<style>
    #IndustryFocusDetails{
        font-size:10px;
    }
    .t-grid-header .t-header {
        padding-top: 3px !important;
        padding-bottom: 13px !important;
    }
</style>
<script>
    function radioCHanged(radio) {
        var text = "";
        $(radio).parent().parent().children().each(function () {
            text =text+ $(this).text();
        });
        alertify.alert("You selected: [" + text + "]");
    }
</script>
<div style="margin-top:10px;">
    <form>
        @Html.Telerik().Grid(Model).Name("IndustryFocusDetails").ToolBar(commands =>
                {
                    commands.Template("<input style='width: 50px;' type='submit' value='Go' />");
                }).Columns(columns =>
    {
        columns.Template(

                @<text>
                    <input type="radio" name="industry" style="width:20px; margin-left:10px;" onchange="radioCHanged(this)" />
                    <input type="hidden" id="indId" value="@item.industry @item.focus @item.partnertypetouchpointquestionnaire" />
                </text>
     ).Width(5);
     columns.Bound(o => o.industryDescription).Title("Industry").Width(150);
     columns.Bound(o => o.focusDescription).Title("Focus").Width(250);
     columns.Bound(o => o.author).Title("Author").Width(100);
     columns.Bound(o => o.description).Title("Description").Filterable(false).Width(250);
     columns.Bound(o => o.questionnaireTitle).Title("Questionnaire");
 }).Filterable(o => o.Enabled(true)).Pageable(o => o.Enabled(true)).Resizable(o => o.Columns(true));
    </form>
</div>