@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using Generic.Helpers;
@using Telerik.Web.Mvc.UI;
@using Generic.ViewModel;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = ViewBag.enterpriseName + "Admin";
  List<View4>
    objGroupData = ( List<View4>
        )ViewBag.pieChartGroupData ;

        int Count = objGroupData.Count();


        }
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", { packages: ["corechart"] });
            google.setOnLoadCallback(drawChart);
            function drawChart() {
                //  ['Task', 'Hours per Day'],
                //var data = google.visualization.arrayToDataTable([
                //  ['Work', 11],
                //  ['Eat', 2],
                //  ['Commute', 2],
                //  ['Watch TV', 2],
                //]);





                
        @{
        for(int i =1; i<=Count;i++) {
               
            @:   var options@(i) = {   title: '@Html.Raw(objGroupData[i-1].groupDescription)',  pieHole: 0.4,     };
                @: var data@(i) = google.visualization.arrayToDataTable([@Html.Raw(objGroupData[i-1].pieChart)]);

                @:  var chart@(i) = new google.visualization.PieChart(document.getElementById('donutchart@(i)'));
                @: chart@(i).draw(data@(i), options@(i));
            }
            }








            }
        </script>




        @for(int i =1; i<=Count;i++) {
        <div style="float:left; width:20%">
            <div id='donutchart@(i)' style=" height: 200px; "></div>

        </div>
        }
