@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using Generic.Helpers;
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = ViewBag.enterpriseName + "Admin";
}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        //var data = google.visualization.arrayToDataTable([
        //  ['Task', 'Hours per Day'],
        //  ['Work', 11],
        //  ['Eat', 2],
        //  ['Commute', 2],
        //  ['Watch TV', 2],
        //  ['Sleep', 7]
        //]);


        var data = google.visualization.arrayToDataTable([@Html.Raw(ViewBag.pieChartData)]);


            var options = {
                title: 'Response Rate',
                pieHole: 0.4,
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
        }
</script>

@*<h2>Hello, @ViewBag.enterpriseName, Admin</h2>*@


<div style="float: left">
    <div id="donutchart" style="width: 700px; height: 500px;"></div>
</div>

<div>

    <a href="#">View 1</a><br />
    <a href="#">View 2</a><br />
    <a href="#">View 3</a><br />
    <a href="#">View 4</a>

  <br />  <a href="#">Dashboard</a>
  <br />  <a href="#">Icons</a>
  <br />  <a href="#">Welcome</a>
  <br />  <a href="#">Change Password</a>
  <br />  <a href="#">Home Page</a>







</div>

