@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Generic.Helpers;
@using Telerik.Web.Mvc.UI;
@using System.Web.Optimization;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Find Group";
}

<style>
     #panelFind select {
        width: 210px;       
    }
   .txtBox {
        width: 205px;  
         border-style: inset;
        border-left-width: 2px;
        border-top-width: 2px;
        height: 15px;
        border-bottom: none;
        border-right: none; 
        margin: 0 0 0 0;     
    }
    .txtBox2 {
        width: 205px;
        border-style: inset;
        border-left-width: 2px;
        border-top-width: 2px;
        height: 15px;
        border-bottom: none;
        border-right: none;
    }
    .t-input {
    height:16px;
    
    }
    #panelFind td {
  padding: 0 0 0 0; 
}
</style>

<script type="text/javascript">
    $(document).ready(function(){
        $('#touchpointID').change(function () {
            var objtouchpointID = $('#touchpointID').val();
            if (objtouchpointID == "") {
                objtouchpointID = 0;
            }
            var formData = { touchpointId: objtouchpointID };
            $.ajax({
                url: "@Url.Content("~/Group/GetGroupByTouchpointid")",
                  type: "post",
                  data: formData,
                  success: function (data) {
                      var len = data.Data.length;
                      var i = 0;
                      var groupSelectList = "<option value=''></option>";
                      for (i = 0; i < len; i++) {
                          groupSelectList += "<option value='" + data.Data[i].id + "'>" + data.Data[i].description + "</option>";
                      }

                      $('#group').html(groupSelectList);


                  },
                  error: function (data) {
                      var touchpointSelectList = "<option value=''></option>";
                      $('#group').html(touchpointSelectList);
                  }
            });
        });
    });
   
</script>
<h2>Find Group</h2>

<form id="FindpersonForm" method="post" enctype="multipart/form-data">
<div id="panelFind">
     <table width="70%; " style="float:left" border="0">
        <tbody>
            <tr id="ctl00_contentMain_rowName">
                <td class="tLeftColumn">NAME</td>
                <td class="tCenterColumn"></td>
                <td class="tRightColumn">
                    <input id="txtNameFind" class="txtBox" type="text" name="txtNameFind">
                </td>
            </tr>
          
            <tr>
                <td class="tLeftColumn">Campaign </td>
                <td class="tCenterColumn"></td>
                <td class="tRightColumn">
                     @Html.DropDownList("touchpoint", String.Empty)
                </td>
            </tr>
            <tr id="ctl00_contentMain_rowBy1">
                <td class="tLeftColumn">Owner </td>
                <td class="tCenterColumn"></td>
                <td class="tRightColumn">
                    <input id="txtProviderFind" class="txtBox" type="text" name="txtProviderFind">
                </td>
            </tr>
         
            <tr id="ctl00_contentMain_rowDescription">
                <td class="tLeftColumn">DESCRIPTION</td>
                <td class="tCenterColumn"></td>
                <td class="tRightColumn">
                    <input id="ctl00_contentMain_txtDescriptionFind" class="txtBox" type="text" name="ctl00$contentMain$txtDescriptionFind">
                </td>
            </tr>
          
        </tbody>
    </table>

      <table style="float: left">
            <tr>
                <td></td>
                <td>

                    <input id="btnFind" class="txtBox1" value="Find" type="submit" style="width: 100px; height: 28px" name="btnFind">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                        <input id="btnCancel" class="txtBox1" value="Cancel" type="button" style="width: 100px; height: 28px" name="btnCancel">
                </td>
            </tr>

        </table>
    </div>
</form>

 
