
<form method="post" action="/UserHome/SelectProduct">
<table>
    <tr>
        <td>
            How Many Users : 
        </td>
        <td>
            <input type="text" name="userCount" />
        </td>
    </tr>
    <tr>
        <td>
            How Many Partners : 
        </td>
        <td>
            <input type="text" name="partnerCount" />
        </td>
    </tr>
    <tr>
        <td>
            Part Number : 
        </td>
        <td>
            <input type="text" name="partnumberCount" />
        </td>
    </tr>
    <tr>
        <td>
            Select Subscription Type : 
        </td>
        <td>
            <select name="SubscriptionType">
                <option value="">--Select--</option>
                <option  value="Standard">Standard</option>
                <option value="Enhanced">Enhanced</option>
                <option value="Enterprise">Enterprise</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <input type="submit" value="Calculate Cost" />
        </td>
    </tr>
</table>
    </form>