@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Generic.Helpers;
@using Telerik.Web.Mvc.UI;
@using System.Web.Optimization;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Find Person";
}

<style>
    #panelFind select {
        width: 210px;       
    }
   .txtBox {
        width: 205px;  
         border-style: inset;
        border-left-width: 2px;
        border-top-width: 2px;
        height: 15px;
        border-bottom: none;
        border-right: none; 
        margin: 0 0 0 0;     
    }
    .txtBox2 {
        width: 205px;
        border-style: inset;
        border-left-width: 2px;
        border-top-width: 2px;
        height: 15px;
        border-bottom: none;
        border-right: none;
    }
    .t-input {
    height:16px;
    
    }
    #panelFind td {
  padding: 0 0 0 0; 
}
</style>

<h2>Find Person</h2>

<form id="FindpersonForm" method="post" enctype="multipart/form-data">
    <div id="panelFind">
         <table width="70%; " style="float:left" border="0">
            <tbody>
                <tr>
                    <td class="tLeftColumn">INTERNAL ID</td>
                    <td class="tCenterColumn"></td>
                    <td class="tRightColumn">
                        <input id="txtInternalId" class="txtBox" type="text" name="InternalId">
                    </td>
                </tr>
                <tr>
                    <td class="tLeftColumn">TITLE</td>
                    <td class="tCenterColumn"></td>
                    <td class="tRightColumn">
                        <input id="Title" class="txtBox" type="text" name="Title">
                    </td>
                </tr>
                <tr>
                    <td class="tLeftColumn">FIRST NAME</td>
                    <td class="tCenterColumn"></td>
                    <td class="tRightColumn">
                        <input id="FirstName" class="txtBox" type="text" name="FirstName">
                    </td>
                </tr>
                <tr>
                    <td class="tLeftColumn">EMAIL</td>
                    <td class="tCenterColumn"></td>
                    <td class="tRightColumn">
                        <input id="Email" class="txtBox" type="text" name="Email">
                    </td>
                </tr>
                <tr>
                    <td class="tLeftColumn">LAST NAME</td>
                    <td class="tCenterColumn"></td>
                    <td class="tRightColumn">
                        <input id="LastName" class="txtBox" type="text" name="LastName">
                    </td>
                </tr>
                <tr>
                    <td class="tLeftColumn">PHONE</td>
                    <td class="tCenterColumn"></td>
                    <td class="tRightColumn">
                        <input id="Phone" class="txtBox" type="text" name="Phone">
                    </td>
                </tr>
               
                <tr>
                    <td class="tLeftColumn">CAMPAIGN</td>
                    <td class="tCenterColumn"></td>
                    <td class="tRightColumn">
                         @Html.DropDownList("touchpoint", String.Empty)
                    </td>
                </tr>
               
               
            </tbody>
        </table>
        <table style="float: left">
            <tr>
                <td></td>
                <td>

                    <input id="btnFind" class="txtBox1" value="Find" type="submit" style="width: 100px; height: 28px" name="btnFind">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                        <input id="btnCancel" class="txtBox1" value="Cancel" type="button" style="width: 100px; height: 28px" name="btnCancel">
                </td>
            </tr>

        </table>
    </div>
</form>
