@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Generic.Helpers;
@using Telerik.Web.Mvc.UI;
@using System.Web.Optimization;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Find Person";
}

<style>
    #panelFind select {
        width: 350px;
    }

    #panelFind input {
        width: 350px;
    }

    .form-control {
        margin: 5px;
    }

    .txtBox
    {
        width: 205px;
        border-style: inset;
        border-left-width: 2px;
        border-top-width: 2px;
        height: 15px;
        border-bottom: none;
        border-right: none;
        margin: 0 0 0 0;
    }

    .txtBox2
    {
        width: 205px;
        border-style: inset;
        border-left-width: 2px;
        border-top-width: 2px;
        height: 15px;
        border-bottom: none;
        border-right: none;
    }

    .t-input
    {
        height: 16px;
    }

    #panelFind td
    {
        padding: 0 0 0 0;
    }
    #panelFind [type="button"] {
        width: 110px;
        margin: 5px;
    }

    #panelFind [type="submit"] {
        width: 110px;
        margin: 5px;
    }
</style>

<h2>Find Person</h2>

<form id="FindpersonForm" method="post" enctype="multipart/form-data">
    <div id="panelFind" class="row">
        <div class="col-lg-8">
            <input id="searchType" type="hidden" value="@ViewBag.searchType" name="searchType">
            <table width="70%; " style="float: left" border="0">
                <tbody>
                    <tr>
                        <td class="tLeftColumn form-label">INTERNAL ID</td>
                        <td class="tCenterColumn"></td>
                        <td class="tRightColumn">
                            <input id="txtInternalId" class="form-control" type="text" name="InternalId">
                        </td>
                    </tr>
                    <tr>
                        <td class="tLeftColumn form-label">TITLE</td>
                        <td class="tCenterColumn"></td>
                        <td class="tRightColumn">
                            <input id="Title" class="form-control" type="text" name="Title">
                        </td>
                    </tr>
                    <tr>
                        <td class="tLeftColumn form-label">FIRST NAME</td>
                        <td class="tCenterColumn"></td>
                        <td class="tRightColumn">
                            <input id="FirstName" class="form-control" type="text" name="FirstName">
                        </td>
                    </tr>
                    <tr>
                        <td class="tLeftColumn form-label">EMAIL</td>
                        <td class="tCenterColumn"></td>
                        <td class="tRightColumn">
                            <input id="Email" class="form-control" type="text" name="Email">
                        </td>
                    </tr>
                    <tr>
                        <td class="tLeftColumn form-label">LAST NAME</td>
                        <td class="tCenterColumn"></td>
                        <td class="tRightColumn">
                            <input id="LastName" class="form-control" type="text" name="LastName">
                        </td>
                    </tr>
                    <tr>
                        <td class="tLeftColumn form-label">PHONE</td>
                        <td class="tCenterColumn"></td>
                        <td class="tRightColumn">
                            <input id="Phone" class="form-control" type="text" name="Phone">
                        </td>
                    </tr>

                    <tr>
                        <td class="tLeftColumn form-label">TOUCHPOINT</td>
                        <td class="tCenterColumn"></td>
                        <td class="tRightColumn">
                            @Html.DropDownList("touchpoint",null, String.Empty,new {@class="form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td class="tLeftColumn form-label">LAST LOGIN</td>
                        <td class="tCenterColumn"></td>
                        <td class="tRightColumn">
                            @Html.DropDownList("lastLogin",null, String.Empty,new {@class="form-control" })
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <table style="float: left">
                <tr>
                    <td></td>
                    <td>

                        <input id="btnFind" class="btn btn-default" value="Find" type="submit"  name="btnFind">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input id="btnCancel" class="btn btn-default" value="Cancel" type="button"  name="btnCancel">
                    </td>
                </tr>

            </table>
        </div>
    </div>
</form>
