@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using Generic.Helpers;
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title ="Reset Password";
}

 <script type="text/javascript">
        //$().ready(function() {
        //    $(".frmResetPassword").validate({
        //        rules: {
        //            Password: {
        //                minlength: 5
        //            },
        //            ConfirmPassword: {
        //                minlength: 5,
        //                equalTo: "#Password"
        //            },
        //        },
        //        messages: {
        //            password: {
        //                minlength: "Your password must be at least 5 characters long"
        //            },
        //            confirm_password: {
        //                minlength: "Your password must be at least 5 characters long",
        //                equalTo: "Please enter the same password as above"
        //            },
        //        }
        //    });
        //});


        $().ready(function () {
            $("#submitButton").click(function () {
               
                if ($("#Password").val() == '') {
                    alertify.alert("Please enter the password");
                    return false;
                }
                if ($("#ConfirmPassword").val() == '') {
                    alertify.alert("Please enter confirm password");
                    return false;
                }
                if ($("#Password").val() != $("#ConfirmPassword").val()) {
                    alertify.alert("Please enter the same password");
                    return false;
                }

            });

            if(@ViewBag.Message == 1)
            {
                alertify.alert("Password changed successfully");
                //location.href='@Url.Action("Home", "ResetPassword")';
            }

        });

    </script>

@{Html.EnableClientValidation();}
@{Html.EnableUnobtrusiveJavaScript();}
@using (Html.BeginForm("resetpassword", "person", new { @class = "frmResetPassword" }))
{
    @Html.ValidationSummary(true)

    <br /><br />
    
    <fieldset>
        <legend>Reset Password</legend>

        <div >
            <div class="editor-label">
             New Password
            </div>
            <div class="editor-field">
              <input type="password" name="Password" id="Password" />
            </div>

            <div class="editor-label">
             Confirm Password
            </div>
            <div class="editor-field">
              <input type="password" name="ConfirmPassword" id="ConfirmPassword" />
            </div>
            <p>
                <input type="submit" id="submitButton" value="Submit" />
            </p>

            </div>
        </fieldset>
}