@inherits System.Web.Mvc.WebViewPage
@using Generic.Areas.RegistrationArea.Models
@{
    var formData = new ViewBagModel();
    if (ViewBag.FormData != null)
    {
        formData = ViewBag.FormData as ViewBagModel;
    }
}


<div class="honeywell-hd text-center">@Html.Raw(formData.CMS_PAGE_TITLE)</div>
<div class="text-center">@Html.Raw(formData.CMS_PAGE_SUBTITLE)</div>
<p>&nbsp;</p>
<div class="row">
    <div class="col-sm-6">
        <p>@Html.Raw(formData.CMS_PAGE_PANEL_ONE)</p>


        <p>&nbsp;</p>
    </div>
    <div class="col-sm-6">
        <div class="center-line">
            <p>@Html.Raw(formData.CMS_PAGE_PANEL_TWO)</p>

        </div>
        <p>&nbsp;</p>
    </div>
</div>