@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Generic.Areas.RegistrationArea.Models
@using Generic.Helpers
@using System.Web.Optimization;
@using Telerik.Web.Mvc.UI;
@model List<Generic.pr_getQuestionCommentAllByQuestion_Result>
@{
    Layout = null;
}

<div class="row">
    <div class="col-sm-12">
        @Html.Telerik().Grid(Model).Name("getQuestionCommentAllByQuestionGrid").Columns(columns =>
   {
       columns.Bound(o => o.firstname).Title("Name").ClientTemplate("#=firstname# #=lastname#").Width(200);
       columns.Bound(o => o.title).Title("Title").Width(200);
       columns.Bound(o => o.comment).Title("Comment").Width(400);
       columns.Bound(o => o.questionTitle).Title("Question Title").Width(100);
       columns.Bound(o => o.timestamp).Title("Date").Width(50).Format("{0: dd/MM/yyyy}"); 
   }).Filterable(o => o.Enabled(true))
    </div>
</div>
