@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using Generic.Helpers
@{
    Layout = Generic.Helpers.LayoutHelper.GetRegistrationLayout();
    ViewBag.Title = "Questionnaire Response";
}


@section Bottom{
 <div class="banner1">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="float:left;margin-top:-44px">
                <tr>
                    <td width="20%" align="right">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>                                
                                <td width="22%" valign="top">
                                    <ul id="qm0" class="qmmc">
                                        <li><a class="qmparent" href=""></a></li>
                                        <li><a class="qmparent" id="contactUS">Contact Us</a></li>
                                        <!--<li><a class="qmparent" href="Partner faq.pdf" target="_blank">FAQ</a></li> -->
                                        <li><a class="qmparent" href="BAA_Frequently Asked Questions.pdf" target="_blank">FAQ</a></li>
                                        <li><a class="qmparent" href="baaQuestionnaire.pdf" target="_blank">Questionnaire
                                            (PDF)</a> </li>
                                        <li class="qmclear">&nbsp;</li>
                                    </ul>
                                    <!-- Create Menu Settings: (Menu ID, Is Vertical, Show Timer, Hide Timer, On Click (options: 'all' * 'all-always-open' * 'main' * 'lev2'), Right to Left, Horizontal Subs, Flush Left, Flush Top) -->

                                    <script type="text/javascript">                                        qm_create(0, false, 0, 500, false, false, false, false, false);</script>

                                </td>
                                <td width="20%" align="right" valign="top">
                                    
                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>    

}   

@section Top{
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="77" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="76%" align="right" valign="top" class="supplytitleblueone">
                                        <span id="ctl00_lblSurvey"> Trial Registration for Conflict Minerals</span>
                                    </td>
                                    <td width="13%" height="106" valign="bottom">
                                        <img src="~/Contents/images/tickmark.gif"  alt="" width="95" height="89" class="surveyban" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        
                    </tr>
                    <tr>
                        <td height="119" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td valign="top">
                                        <table width="400" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="supplyleft">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                              <!-- <td class="supplyleft">
                                                    Honeywell Site Security Survey is designed to capture information about your site’s
                                                    practices pertaining to safeguarding the supply chain.
                                                </td>-->
                                                <td class="supplyleft">
                                              
                                                <div id="ctl00_RegistrationPageText">Intelleges <b>3TG/Conflict Minerals Readiness Questionnaire</b> is designed to capture information about your company's readiness pertaining to compliance with SEC Dodd-Frank Section 1502 Conflict Minerals rule.</div>


                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td valign="top">
                                        
                                        <table width="400" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="supplyright">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="supplyright">

                                                 <span style="color: #0096c9;">Instructions:</span> 
                                                 <div id="ctl00_RegistrationPageInstruction">Enter your access code (found in your invitation email) below to complete the <b>3TG/Conflict Minerals Readiness Questionnaire</b>. </div>



                                                   
                                                    <!--<span style="color: #0096c9;">Instructions:</span> Enter your access code (found in your invitation email) below to complete Honeywell’s Site Security Survey.-->
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
}

 <div class="supplycon">
                    <div align="center" class="redheader">

                        <table width="100%">
                            <tr>
                                <td></td>
                                <td align="left" style="width: 356px">
                                    <p>
                                        <span id="ctl00_contentQuestionnaireTitle_lblQuestionnaireTitle" class="redheader"></span>
                                    </p>
                                </td>
                            </tr>

                        </table>

                    </div>
                    <div>
                        <table width="100%">
                            <tr>
                                <td>

                                    <div align="center">


                                        <div style="width: 800px;" align="left">

@using (Html.BeginForm())
{
                                        @Html.Raw(ViewBag.questions)
                                              
                                           
                                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td align="right"></td>
                                                    <td>&nbsp;
                                                    </td>
                                                    <td align="right">
                                                        <span id="lblErrormsg" class="redheader"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="right"></td>
                                                    <td>&nbsp;
                                                    </td>
                                                    <td align="right">
                                                        <input type="image" name="btnBack" id="btnBack"  src="/Contents/RegistrationStyle/images/previous.gif"  onclick="javascript: history.go(-1); return false;" style="border-width: 0px;" />
                                                        <input type="image" name="btnSubmit" id="btnSubmit"  src="/Contents/RegistrationStyle/images/button.jpg"  style="border-width: 0px;" />
                                                    </td>
                                                </tr>
                                                
                                            </table>
                                            
                                            <div align="right" style="padding-top: 25px;">
                                                <input type="hidden" name="hiddenPreviousSkipLogicQuestion" id="hiddenPreviousSkipLogicQuestion" value="0" />
                                                <input type="hidden" name="hiddenSkipLogicJump" id="hiddenSkipLogicJump" value="0" />
                                                <input type="hidden" name="hiddenPage" id="hiddenPage" value="0" />
                                            </div>
                                    
}
                                                </div>
                                    </div>

                                    

                                </td>
                            </tr>
                        </table>
                    </div>
  </div>