@{
    Layout = null;
    ViewBag.Title = "Questionnaire Detail View";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/bootstrap-duallistbox.min.css" rel="stylesheet" />
<style>
    div#QuestionnaireDetailViewGrid {
        font-size: 11px;
    }

    #modal {
        height: 489px;
    }

    .ui-dialog {
        width: 99% !important;
        left: 0;
    }
    .model-body{
        padding:25px;
    }
</style>


<div class="container-fluid">
   View after redirect link
</div>