@inherits System.Web.Mvc.WebViewPage<IEnumerable<Generic.ViewModel.ConfirmPartnerViewModel>>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Partner";
}

<style>
    div#ConfirmPartnerGrid {
        font-size: 11px;
    }

    #modal
    {
        height: 489px;
    }

    .ui-dialog
    {
        width: 99% !important;
        left: 0;
    }
    .rbtncls {
        width:15px;margin-left: 0px;
    }
</style>
<form action="@Url.Content("~/Partner/ConfirmPartner")" method="post">

@( Html.Telerik().Grid(Model).Name("ConfirmPartnerGrid")
    .ToolBar(commands =>
         {
            commands.Template("<a class='t-button' href='#' id='btnconfirm'>Confirm</a><a class='t-button' href='#' id='btninvite'>Invite</a><a class='t-button' id='btnclear' href='#'>Clear</a>");
         })

        .Columns(columns =>
        {
            columns.Bound(o => o.IsSelected1)

                   @*.Title("<input type='radio' onchange='SelectallFirstRadioButtons();' id='rbtnSelectAll1' class='rbtncls' name='checkedRecords' />")*@
                   .Title("A")     
                   .Template(@<text><input type='radio' id='rbtnMessage1' name='rbtnSelect' style="width:15px;"  /></text>)
                   .Width(30)
                   .HtmlAttributes(new { style = "text-align:center" });


            columns.Bound(o => o.Partner_A).Title("Name").Width(70);
            columns.Bound(o => o.Group1).Title("Group").Width(70);
            @*columns.Bound(o => o.StatusID_1).Title("StatusID").Width(100);*@
            columns.Bound(o => o.Status1).Title("Status").Width(80);
            columns.Bound(o => o.IsReference1).Title("Ref").Width(50);

             columns.Bound(o => o.IsSelected2)

                   @*.Title("<input type='radio' onchange='SelectallSecondRadioButtons();' id='rbtnSelectAll2' class='rbtncls' name='checkedRecords' />")*@
                    .Title("B") 
                   .Template(@<text><input type='radio' id='rbtnMessage2' style="width:15px;" name='rbtnSelect'  /></text>)
                   .Width(30)
                   .HtmlAttributes(new { style = "text-align:center;width:50px" });

            columns.Bound(o => o.Partner_B).Title("Name").Width(70);

            columns.Bound(o => o.Group2).Title("Group").Width(70);
            @*columns.Bound(o => o.StatusID_2).Title("StatusID").Width(100);*@
            columns.Bound(o => o.Status2).Title("Status").Width(80);
            columns.Bound(o => o.IsReference2).Title("Ref").Width(50);
            columns.Bound(o => o.EmailMatch).Title("EM").Width(45);
            columns.Bound(o => o.InternalIDMatch).Title("IM").Width(45);
            columns.Bound(o => o.FederalIDMatch).Title("FM").Width(45);
            columns.Bound(o => o.DUNSMatch).Title("DM").Width(45);
            columns.Bound(o => o.NameMatch).Title("NM").Width(45);
                          
            
            @*columns.Command(commands => commands.Custom("Ignore").Text("Ignore").SendState(false).Ajax(true).Action("IgnoreDetails", "Partner")).Title("Ignore").Width(100);
            columns.Command(commands => commands.Custom("Remove").Text("Remove").SendState(false).Ajax(true).Action("RemoveDetails", "Partner")).Title("Remove").Width(100);
            columns.Command(commands => commands.Custom("Shadow").Text("Shadow").SendState(false).Ajax(true).Action("ShadowDetails", "Partner")).Title("Shadow").Width(100);
            columns.Command(commands => commands.Custom("Skip").Text("Skip").SendState(false).Ajax(true).Action("SkipDetails", "Partner")).Title("Skip").Width(100);*@
        
             columns.Bound(o => o.IsCheckboxSelected)
             .Title("ActionType")
              .Template(@<text><select><option value="0">Select</option><option value="1">Ignore</option><option value="2">Remove</option><option value="3">Shadow</option><option value="4">Skip</option></select></text>)
             .Width(80)
              .HtmlAttributes(new { style = "text-align:center" });

             columns.Bound(o => o.IsCheckboxSelected)
             .Title("<input type='checkbox' onchange='Selectall();' id='chkSelectAll' style='margin-left: 11px;' name='checkedRecords' value='<#= IsCheckboxSelected #>' />")
             .Template(@<text><input type='checkbox' id='chkpartnerconfirm' name='chkSelect' value='' /></text>)
                                                    .Width(40)
                                                    .HtmlAttributes(new { style = "text-align:center" });
})
       
         //.ClientEvents(events => events.OnDataBound("onDataBound"))
        //.DataKeys(keys => keys.Add(o => o.internalID))
        .Pageable(pager => pager.PageSize(13).Total(200).Enabled(true))
        .Sortable(sorting => sorting.Enabled(true))

        .Scrollable(scrolling => scrolling
           .Enabled(true)
           .Height(380))
           .HtmlAttributes(new { @class = "ra" })
)
</form>


<style>
    .t-grid-content tr > td:hover .menu_block + .display_menu
    {
        display: block !important;
    }

    .display_menu
    {
        left: 65px;
        overflow: visible;
        position: absolute;
        top: -5px;
        background: #fff;
        border: 1px solid #ddd;
        z-index: 100;
    }

    .t-grid-content tr > td
    {
        overflow: visible !important;
        position: relative;
    }

    .display_menu > ul
    {
        padding: 0 16px;
    }

    .display_menu li
    {
        list-style: none outside none;
        width: 143px;
    }
</style>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.9.2.js"></script>
<script type="text/javascript">
    $(function () {
        jQuery.noConflict();
    });

    $("#btnconfirm").click(function () {
        debugger;
        var grid = $('#ConfirmPartnerGrid').data('tGrid');
        var data = grid.data;
    });

    function CloseMe() {
        $("#genericPopup").dialog('close');
        //$(".t-icon .t-refresh").trigger('click');

        window.location.replace(window.location.href);
    }

      function SelectallFirstRadioButtons() {
        // if check all is checked, all radio buttons  are selected
          // if check all is unchecked, all radio buttons are cleared

          if ($('#rbtnSelectAll1').is(':checked')) {
              debugger;
              $('input:radio[name$=rbtnSelect1]').each(
                function () {
                    $(this).attr('checked', 'checked');
                });
              $('input:radio[name$=rbtnSelect2]').each(
                function () {
                    debugger;
                    $(this).removeAttr('checked');
                });
        }
        else {
              $('input:radio[name$=rbtnSelect1]').each(
                function () {
                    debugger;
                    $(this).removeAttr('checked');
                });
          }
      }

      function SelectallSecondRadioButtons() {
          // if check all is checked, all radio buttons  are selected
          // if check all is unchecked, all radio buttons are cleared

          if ($('#rbtnSelectAll2').is(':checked')) {
              debugger;
              $('input:radio[name$=rbtnSelect2]').each(
                function () {
                    $(this).attr('checked', 'checked');
                });
              $('input:radio[name$=rbtnSelect1]').each(
                function () {
                    debugger;
                    $(this).removeAttr('checked');
                });
          }
          else {
              $('input:radio[name$=rbtnSelect2]').each(
                function () {
                    debugger;
                    $(this).removeAttr('checked');
                });
          }
      }


    //  $('input:radio[name$=rbtnSelect1]').click(
    //function () {
        
    //    if (!$(this).is(':checked')) {
    //        $('#checkedRecords1').removeAttr('checked');
    //    }
    //    else {
    //        if ($('input:radio[name$=rbtnSelect1]').length ==
    //        $('input:radio[name$=rbtnSelect1]:checked').length) {
    //            $('#rbtnSelectAll1').attr('checked', 'checked');
    //        }
    //    }
    //});

    //  $('input:radio[name$=rbtnSelect2]').click(
    // function () {

    //     if (!$(this).is(':checked')) {
    //         $('#checkedRecords2').removeAttr('checked');
    //     }
    //     else {
    //         if ($('input:radio[name$=rbtnSelect2]').length ==
    //         $('input:radio[name$=rbtnSelect2]:checked').length) {
    //             $('#rbtnSelectAll2').attr('checked', 'checked');
    //         }
    //     }
    // });

      function Selectall() {
          // if check all is checked, all checkboxes are checked
          // if check all is unchecked, all checkboxes are cleared

          if ($('#chkSelectAll').is(':checked')) {
              $('input:checkbox[name$=chkSelect]').each(
                  function () {
                      $(this).attr('checked', 'checked');
                  });
          }
          else {
              $('input:checkbox[name$=chkSelect]').each(
                  function () {
                      $(this).removeAttr('checked');
                  });
          }
      }

      $('input:checkbox[name$=chkSelect]').click(
      function () {
          // if any of the checkbox is unchecked
          // check all checkbox should be cleared
          if (!$(this).is(':checked')) {
              $('#chkSelectAll').removeAttr('checked');
          }
          else {
              // if all of the checkbox is checked
              // check all checkbox should be checked
              if ($('input:checkbox[name$=chkSelect]').length ==
              $('input:checkbox[name$=chkSelect]:checked').length) {
                  $('#chkSelectAll').attr('checked', 'checked');
              }
          }
      });
</script>

