@inherits System.Web.Mvc.WebViewPage<List<Generic.pr_getIteratePartnerNoteAllGrid_Result>>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI
@using Generic.ViewModel
@{
	Layout = null;
	
	
	int partnerId = ViewBag.partnerId;
}
<style>
	#iterateNotesGrid table {
		    margin-top: 0;
	}
</style>


<div style="padding: 10px 20px;">

	@Html.Telerik().Grid(new List<Generic.pr_getIteratePartnerNoteAllGrid_Result>()).Name("iterateNotesGrid").DataBinding(binding => binding.Ajax().Select("GetIterateNotesGrid", "Partner", new { partnerId = partnerId })).DataKeys(o => o.Add(p => p.iteratePartnerNote)).Columns(col =>
{
	col.Bound(o => o.iteratePartnerNote).Title("Id").Hidden(true);
	col.Bound(o => o.name).Title("Name");
	col.Bound(o => o.datetime).Title("Date Time");
	col.Bound(o => o.note).Template(item => Html.Raw(item.note)).ClientTemplate("<#= note #>").Width(400).Title("Note").Encoded(false);
	col.Bound(o => o.nickname).Title("Nickname");
}).Selectable(o => o.Enabled(true)).ClientEvents(e => e.OnRowSelect("setSelectedRowData").OnDataBound("Grid1_onDataBound")).HtmlAttributes(new { style = "font-size:10px;" })
	<br/>
	<div class="tw-bs buttons" id="buttons-panel">
		<button type="button" class="btn btn-primary disabled" onclick="editNote();">Edit</button>
		<button type="button" class="btn btn-primary disabled" onclick="archiveNote();">Archive</button>
		<button type="button" class="btn btn-primary disabled" onclick="viewNote();">View</button>
		<button type="button" class="btn btn-primary" id="closeNoteHistoryPopup" onclick="$.fancybox.close();">Close</button>
	</div>
</div>


