@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@{
    Layout = null;
    ViewBag.Title = ViewBag.Project + "Partner";
}
<head>
    
<title> @ViewBag.Project Partner </title>
    </head>
<h2>@ViewBag.Project Partner Page</h2>