@{
    Layout = null;
}

<div style="padding: 10px 20px;">
    <div class="editor-label">
       <label>Referral Type</label>
    </div>
    <div class="editor-field">
        <select id="referralType" class="form-control" onchange="referralTypeChange();">
            <option value="Care Guides">Care Guides</option>
            <option value="Telehealth/Telemedicine">Telehealth/Telemedicine</option>
            <option value="Test Site Finder">Test Site Finder</option>
            <option value="Mental Health Service">Mental Health Service</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="editor-label">
        <label>Referral Specification</label>
    </div>
    <div class="editor-field">
        <select id="referralSpecification" class="form-control">
            <option value="Care Guides 1">Care Guides 1</option>
            <option value="Care Guides 2">Care Guides 2</option>
            <option value="Care Guides 3">Care Guides 3</option>
        </select>
    </div>
</div>