.dhtmlwindow{
position: absolute;
visibility: hidden;
background-color: white;
}

.drag-handle{ /*CSS for Drag Handle*/
width: auto;
padding: 1px;
color: white;
height:183px;
cursor: move;
overflow: hidden;
text-indent: 3px;
font: bold 14px Arial;
background-image:url(images/terms_bg.jpg);
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}
.drag-handle .drag-controls{ /*CSS for controls (min, close etc) within Drag Handle*/
position: absolute;
right: 20px;
top: 10px;
cursor: hand;
cursor: pointer;
}
* html .drag-handle{ /*IE6 and below CSS hack. Width must be set to 100% in order for opaque title bar to render*/
width: 100%;
}
.drag-contentarea{ /*CSS for Content Display Area div*/
background-color: white;
overflow:hidden;
}