@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    
}
<div style="background-color:#A6D9F4;height:400px;">

<h2>welcome to Home Page.</h2>

<a style="cursor:pointer;" onclick="selectProduct();">select product type</a>
<br />

</div>
<script type="text/javascript">
    function selectProduct() {
        window.location.href = "/UserHome/SelectProduct";
        
    }

</script>