
@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "SelectProduct";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div style="background-color:#A6D9F4;height:400px;">

<h2>Select Product</h2>

<br />
    
<form method="post" action="/UserHome/SelectProduct">
<table>
    <tr>
        <td>
            How Many Users : 
        </td>
        <td>
            <input type="text" name="userCount" />
        </td>
    </tr>
    <tr>
        <td>
            How Many Partners : 
        </td>
        <td>
            <input type="text" name="partnerCount" />
        </td>
    </tr>
    <tr>
        <td>
            Part Number : 
        </td>
        <td>
            <input type="text" name="partnumberCount" />
        </td>
    </tr>
    <tr>
        <td>
            Select Subscription Type : 
        </td>
        <td>
            <select name="SubscriptionType">
                <option value="">--Select--</option>
                <option value="1">Standard</option>
                <option value="2">Enhanced</option>
                <option value="3">Enterprise</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <input type="submit" value="Calculate Cost" />
        </td>
    </tr>
</table>
    </form>

</div>